       $darkMainColorGrey: #3D4555;
       $GreenMainColor: #96C22B;
       $widthSite: 1000px;
       $paddingLeftForContent: 270px;



       .product-card {
           width: 215px;
           height: 285px;
           margin: 5px;
           display: inline-block;
           vertical-align: top;
           padding: 5px;
           text-align: center;
           box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
           position: relative;
           /* Добавляем для позиционирования дочерних элементов */

       }

       .product-card img {
           max-width: 100%;
           height: auto;
           border-radius: 5px;
       }

       .product-card a {
           text-decoration: none;
           color: $darkMainColorGrey;
           height: 40px;
           display: flex;
           align-items: center;
           margin-top: 10px;
           text-align: center;
           justify-content: center;
           padding-bottom: 15px;
       }

       .product-card a:hover {
           color: $GreenMainColor;
       }

       .text_dop_info {
           color: #a6a7a8;
           font-size: 10px;
           margin-bottom: 20px;
       }